{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyPcyGvSb+jLjYQ3j5TIwZiY"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"uYANy2zyZsMo"},"outputs":[],"source":["/.env\n","/for_git_commit.ipynb"]}]}